.nav    
    .menu 
        a(href="#") 
            img(src="../img/home.svg", alt="")  
        a( href="#") каталог
        a(href="#") Преимущества
        a(href="#") Примеры работ
        a(href="#") монтаж 
        a(href="#") отзывы
        a(href="#") Ответы на вопросы
        a(href="#") контакты
    .hamburger-menu
        input(id="menu__toogle" type="checkbox")
        
        ul.menu__box 
            li 
                a( class="menu__item" href="#") 
                    img(src="../img/home.svg", alt="")  
            li 
                a(class="menu__item" href="#") каталог
            li 
                a(class="menu__item" href="#") Преимущества
            li 
                a(class="menu__item" href="#") Примеры работ
            li 
                a(class="menu__item" href="#") монтаж
            li 
                a(class="menu__item" href="#") отзывы
            li 
                a(class="menu__item" href="#") Ответы на вопросы
            li 
                a(class="menu__item" href="#") контакты
            li 
                .headerInfo 
                      p #[strong Кровельные и фасадные материалы]  в Тюмени и области. 
                      p Профессиональный монтаж с 2010 года. 
            li
                .headerPricePdf 
                        .circle 
                            p Pdf 
                        a(href="#")  Скачать прайс-каталог
            li 
                .headerSocialNetwork
                        p Отвечаем #[strong онлайн]
                        .socialNetwork 
                            .viber 
                                img(src="../img/viber.svg", alt="")
                            .whatsapp 
                                img(src="../img/whatsapp.svg", alt="")
                            .telegram 
                                img(src="../img/telegram.svg", alt="")
                                
        label(class="menu__btn" for= "menu__toogle") 
            span 
